:root {
  --main-color: #c05252;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  -webkit-font-smooth: antialiased; 
  -moz-osx-font-smooth: grayscale; 
  font-smooth: antialiased; 
}

h1,h2 {
  font-family: "Arapey";
}

body {
  font-size: 1.6rem;
  color: #ffffff;
}

img {
  max-width: 100%;
  display: block;
}
