:root {
  --main-color:#C05252;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

img {
  max-width: 100%;
  display: block;
}
